@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
* {
    margin: 0px;
    padding: 0px;
}

#hero {

    background: linear-gradient(0.00deg, rgba(9.2, 8.93, 8.93, 1) 13.482%, rgba(16, 16, 16, 0) 101.632%), url("../assets/pexels-rdne-5593605.jpg");

    height: 615px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    width: 676px;
    /* margin-left: auto; */
    /* margin-right:auto; */
    /* margin: 0 auto; */
}

#hero .hero-content .subtitle {
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-style: SemiBold;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 10px;
}

#hero .hero-content .title {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
    font-family: Work Sans;
    font-style: Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
}

#hero .hero-content .description {
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-style: Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 18px;
}

.btn {
    color: rgba(255, 255, 255, 1);

    font-family: Work Sans;
    font-style: SemiBold;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgba(82, 195, 3, 1);
    padding: 15px 18px 15px 18px;
    border: none;
}

.btn-container {
    text-align: center;
}